


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #413f3b;
    font-size: 20px;
    color: #999999;
    background-image: url("image/header2.jpg");
    background-repeat: no-repeat;
}
.navigation{
    position: fixed;
    top:0px;
    height: 59px;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}
#item{
    position: relative;
    list-style: none;
    text-align: center;
   float: right;
   right: 300px;
}
li{
    list-style: none;
    display: inline;
    
    font-size:21px;
}
#item a{
    text-decoration: none;
    color: #b5c1ad;

}
#item a:hover{
    border-bottom: 2px solid #ffdeef;
    color: white;
}
.section1{

    font-size: 20px;
    color: #ffffff;
    background-image:url('image/header2.jpg');
    background-repeat: no-repeat;
}
.section2{

    /* background-image:url('image/bg3.jpg'); */
    background-color: #ffffff;
}
.section3{
    color: black;
    text-align: center;
    
       
        background: -webkit-linear-gradient(#ffffff, #ffdeef,#2f77b9); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(#ffffff, #ffdeef,#2f77b9); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(#ffffff, #ffdeef,#2f77b9); /* Firefox 3.6 - 15 */
        background: linear-gradient(#ffffff, #ffdeef,#2f77b9); /* 标准的语法（必须放在最后） */

}
.section4{

    background-color: #3aad7d;
}
.logo{
    margin: 0;
    font-size: 50px;
    color: green;
    position: absolute;
    left: 20px;
}
span{
    color:red;
}
.head{
    width: 100%;
    height: 59px;
}

.tips{
    font-size: 31px;
    color:#cccccc;
    position:absolute;
    top:6%;
    left: 39%;
}
.lead{
    width:400px;
    height:450px;
    /*background-color:yellow;*/
    position: relative;
    left:60%;
    top:15%;
    text-indent: 2em;
}
.time1{
    text-indent:0;
    color:#b5c1ad;
}
.up{
    background-color: black;
    height: 25%;
}
.down{
    background-color: white;
    height: 75%;

}
.topFile{
    background-color: yellow;
    width: 900px;
    height: 250px;
    /* margin: 0 auto; */
    position: absolute;
    top: 10%;
    left: 20%;
    

}
#topFileImg{
    position: absolute;
    color: black;
    top: -70px;
    left: 24px;
    width: 400px;
    height:300px;
    
}
.aboutMe{
    position: absolute;
    top: 0px;
    left: 540px;
}
.services{
    position: absolute;
    top: 450px;
    left: 540px;
}
.dd{
    height: 25%;
    width: 100%;
}
.d1{
    
    background-color: #2f77b9;
}
.d2{
    
    background-color: #3aad7d;
}
.d2 a{
    text-decoration: none;
}
.d2 a:hover{
    border-bottom: 2px solid gold;
}
.d3{
    
    background-color: aqua;
}
.d4{
    
    background-color: #3aad7d;
    color: black;
}
.c1{
    border: 1px solid white;
    width: 40%;
    height: 35%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
   
    border-radius: 11px;
}
.c2{
    border: 2px solid white;
    width: 40%;
    height: 35%;
    position: absolute;
    right: 0;
    top: 0;
  
    border-radius: 11px;
    /* background-color: #ff6666; */
    display: inline-block;
}
.c3{
    position: absolute;
    left: 0;
    bottom: 0;
    border: 2px solid white;
    width: 40%;
    height: 35%;
    /* margin: 3%;
    margin-bottom: 9%; */
    border-radius: 11px;
    display: inline-block;
}
.c4{
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid white;
    width: 40%;
    height: 35%;
    /* margin: 3%;
    margin-bottom: 9%; */
    border-radius: 11px;
    display: inline-block;
}

/* 第四页的各种图标 */
.Github{
    /* text-align: center; */
    /* display: inline-block; */
    /* margin-top: 20%; */
    width: 60px;
    height: 60px;
}
.weChat{
    /* display: inline-block; */
    width: 60px;
    height: 60px;
}
.aliPay{
    /* display: inline-block; */
    width: 60px;
    height: 60px;
}
.email{
    width: 60px;
    height: 60px;
}
.qq{
    width: 60px;
    height: 60px;
}
.img1{
    display: inline-block;
    text-align: left; 
    /* margin-top:20px; */
}
/* html社区入口连接 */
.c1 a{
    text-decoration: none;
    color: white;
}
.c1 a:hover{
    text-decoration: none;
    color: black;
}

/* php社区入口连接 */
.c2 a{
    text-decoration: none;
    color: white;
}
.c2 a:hover{
    text-decoration: none;
    color: black;
}

/* css社区入口连接 */
.c3 a{
    text-decoration: none;
    color: white;
}
.c3 a:hover{
    text-decoration: none;
    color: black;
}

/* Javascript社区入口连接 */
.c4 a{
    text-decoration: none;
    color: white;
}
.c4 a:hover{
    text-decoration: none;
    color: black;
}
.weChatPay{
    height:50px;
    width: 25px;
    margin-left: 12%;
    display: hidden;
}
.aliPay{
    height:50px;
    width: 25px;
    display:hidden;
}